{
    "singleQuote": true,
    "trailingComma": "es5",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react$",
      "<BUILTIN_MODULES>",
      "<THIRD_PARTY_MODULES>",
      "",
      "^@books/(.*)$",
      "^@browse/(.*)$",
      "^@layout/(.*)$",
      "^@shared/(.*)$",
      "^@lib/(.*)$",
      "^\\./",
      "^\\.\\./",
      "^[./]"
    ]
  }
  